* {
    margin: 0 auto;
    padding: 0;
}
body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}
#wrap {
    width: 100vw;
    background-color: white;
    position: relative;
    animation: 4s linear wra;
}
@keyframes wra {
    from, to {
        display: none;
    }
}

.loading {
    overflow: hidden;
    animation: 4s linear none_white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}
@keyframes none_white {
    0%,100% {
        opacity: 1;
        pointer-events: all;
    }
}
.loading_box {
    width: 150px;
    height: 150px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rotate_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    position: absolute;
    top: 25px;
    animation: 2s ease-in-out rotate;
    animation-delay: 2s;
    opacity: 0;
    pointer-events: none;
}
@keyframes rotate {
    from {
        rotate: 0;
        opacity: 1;
        pointer-events: all;
    }
    to {
        opacity: 1;
        pointer-events: all;
        rotate: 360deg;
    }
}
.loading_text {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    animation: loading ease-in-out 2s;

}
.loading_text p {
    font-size: 25px;
    font-weight: 100;
    color: white;
    width: 100%;
    font-family: fantasy;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
@keyframes loading {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.sidemenu {
    transition: 0.5s;
    overflow: hidden;
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 500;
}
.sideheader {
    width: 100%;
    height: 20%;
}
.sidelogo {
    width: 100vw;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.sidelogo img {
    position: absolute;
    left: 5%;
    width: 200px;
    height: 50px;
}
.sidenone_btn {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 5%;
}
.sidelogin {
    width: 100vw;
    height: 40%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidelogin li {
    margin: 0 30px 0 30px;
    list-style: none;
    float: left;
}
.sidelogin li:hover > a{
    color: white;
}
.sidelogin a {
    transition: 0.5s;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

input[type="checkbox"] {
    display: none;
}

.sidemain {
    width: 100%;
    height: 80%;
    background-color: white;
}
.sidemain label {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sidemain label::before {
    width: 90%;
    height: 3px;
    background-color: gray;
    content: '';
    position: absolute;
    bottom: 5%;
}
.sidemain label > p {
    position: absolute;
    left: 5%;
    transition: 0.5s;
}
.sidemain label > p:hover,
.sidemain label > p a:hover {
    color: orangered;
}
.sidemain label > p > a {
    transition: 0.5s;
    text-decoration: none;
    color: black;
}
.acoo {
    overflow: hidden;
    transition: 0.5s;
    width: 100vw;
    height: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.acoo::before {
    content: '';
    width: 90%;
    height: 3px;
    background-color: gray;
    position: absolute;
    bottom: 0;
}
.acoo a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.acoo a:hover {
    color: orangered;
}
#aco2:checked ~ .acoo {
    height: 50px;
}
#aco2:checked + label p {
    color: orangered;
}
.aco_icon::after {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    content: '▼';
    position: absolute;
    top: 10%;
    right: 5%;
}
#aco2:checked + label::after {
    content: '▲';
}

header {
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    position: sticky;
    background-color: white;
    border-bottom: 10px solid orangered;
    z-index: 3;
}
.real_header {
    width: 1280px;
    height: 100%;
    display: flex;
}
.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo label {
    opacity: 0;
    pointer-events: none;
}
.logo a {
    position: absolute;
    left: 0;
}
.logo img {
    width: 200px;
    height: 50px;
    object-fit: cover;
    
}
nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.bu_menu {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    float: left;
    list-style: none;
}
.menu > li{
    margin: 0 30px 0 30px;
}
.menu a {
    line-height: 70px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.menu > li > a {
    font-size: 18px;
}
.submenu {
    transition: 0.5s;
    overflow: hidden;
    top: 70px;
    width: 100vw;
    height: 0;
    background-color: rgb(240, 240, 240);
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submenu a {
    color: rgb(0, 0, 0);
}
.submenu > li > a:hover {
    color: orangered;
}
.menu > li:nth-child(2):hover .submenu {
    height: 200px;
    border-top: 10px solid orangered;
}
.menu > li:hover > a {
    color: #ff4500;
}
.buumenu > li{
    list-style: none;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    color: white;
}
.buumenu > li:nth-child(1) {
    margin: 0 8px 0 40px;
}
.buumenu > li:nth-child(3) a {
    text-align: center;
    line-height: 40px;
    width: 90px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 30px;
    color: orangered;
    margin: 15px 0 15px 0;
    transition: 0.5s;
}
.buumenu > li:nth-child(3) a:hover {
    color: black;
    border: 1px solid black;
}
.buumenu > li:nth-child(4) a {
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    width: 90px;
    height: 40px;
    background-color: orangered;
    color: white;
    margin: 15px 0 15px 0;
}
.buumenu > li:nth-child(4) a:hover {
    background-color: rgb(255, 158, 123);
    color: rgb(255, 255, 255);
}
.buumenu a {
    font-weight: 900;
    font-size: 14px;
    display: block;
    line-height: 70px;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}
.buumenu a:hover {
    color: #ff4500;
}

input[type="radio"] {
    display: none;
}
.recon {
    width: 100%;
    height: calc(100vh - 80px);
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider1,
.slider2,
.slider3 {
    position: absolute;
    width: 400%;
    height: 0;
    display: flex;
    overflow: hidden;
}
.slide1 {
    background-position: center;
    background-size: cover;
    background-image: url(image/vis/08.jpg);
}
.slide2 {
    background-position: center;
    background-size: cover;
    background-image: url(image/vis/16.jpg);
}
.slide3 {
    background-position: center;
    background-size: cover;
    background-image: url(image/vis/02.jpg);
}

.slider1 > div,
.slider2 > div,
.slider3 > div {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: relative;
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    16% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100vw);
    }
    49% {
        transform: translateX(-100vw);
    }
    66% {
        transform: translateX(-200vw);
    }
    82% {
        transform: translateX(-200vw);
    }
    100% {
        transform: translateX(-300vw);
    }

}
@keyframes slider1 {
    0% {
        transform: translateX(0);
    }
    16% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100vw);
    }
    49% {
        transform: translateX(-100vw);
    }
    66% {
        transform: translateX(-200vw);
    }
    82% {
        transform: translateX(-200vw);
    }
    100% {
        transform: translateX(-300vw);
    }

}
.left,
.right {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: orangered;
    border-radius: 50%;
}
.left::after,
.left1::after {
    content: '◀';
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    display: block;
}
.left1,
.right1 {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: orangered;
    border-radius: 50%;
}
.right::after,
.right1::after {
    content: '▶';
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    display: block;
}
.slidebox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0), black);
}
.realbox1,
.realbox2,
.realbox3,
.realbox4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.realbox1::after {
    content: 'Better Give & Take';
    top: 15%;
    font-size: 400%;
    font-weight: 900;
    color: white;
    text-shadow: 0px 10px orangered;
    position: absolute;
    font-family:fantasy;
    font-weight: 100;
    transform: skew(-20deg) rotate(-5deg);
}
.realbox1::before {
    content: '옴니채널 플랫폼 GIFTS로 전 세계 고객에게 선물의 가치를 높입니다.';
    width: 500px;
    position: absolute;
    font-weight: 100;
    bottom: 30%;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: none;
    font-weight: 900;
}
.realbox2::after {
    top: 15%;
    font-size: 400%;
    font-weight: 900;
    color: white;
    text-shadow: 0px 10px orangered;
    position: absolute;
    font-family:fantasy;
    font-weight: 100;
    transform: skew(-20deg) rotate(-5deg);
    content: 'Life Style Platforms';
}
.realbox2::before {
    width: 500px;
    position: absolute;
    font-family: none;
    font-weight: 900;
    bottom: 30%;
    color: white;
    font-size: 30px;
    text-align: center;
    content: '고객과 가장 가까운 곳에서 고객에게 다양한 즐거움을 선물합니다.';
}
.realbox3::after {
    top: 15%;
    font-size: 400%;
    font-weight: 900;
    color: white;
    text-shadow: 0px 10px orangered;
    position: absolute;
    font-family:fantasy;
    font-weight: 100;
    transform: skew(-20deg) rotate(-5deg);
    content: 'Online PLAYGROUND';
}
.realbox3::before {
    width: 500px;
    position: absolute;
    font-family: none;
    font-weight: 900;
    bottom: 30%;
    color: white;
    font-size: 30px;
    text-align: center;
    content: "업계 최초 당일 배송 서비스인 '오늘드림'으로고객 니즈 충족과 고객 경험을 혁신합니다.";
}

.left,
.left1 {
    left: 5%;
}
.right,
.right1 {
    right: 5%;
}
#slider1:checked ~ .slider1 .left,
#slider1:checked ~ .slider1 .right,
#slider2:checked ~ .slider2 .left,
#slider2:checked ~ .slider2 .right,
#slider3:checked ~ .slider3 .left,
#slider3:checked ~ .slider3 .right{
    display: none;
}
#slider1:checked ~ .slider1 .left1,
#slider1:checked ~ .slider1 .right1,
#slider2:checked ~ .slider2 .left1,
#slider2:checked ~ .slider2 .right1,
#slider3:checked ~ .slider3 .left1,
#slider3:checked ~ .slider3 .right1{
    display: block;
}
#slider1:checked ~ .slider1,
#slider2:checked ~ .slider2,
#slider3:checked ~ .slider3 {
    height: 100%;
    animation: infinite linear 16s slider;
    animation-play-state: running;
}



#slider4:checked ~ .slider1,
#slider5:checked ~ .slider2,
#slider6:checked ~ .slider3 {
    height: 100%;
    animation: infinite linear 16s slider1;
    animation-play-state: running;
}
#slider1:checked ~ .slider1:hover,
#slider2:checked ~ .slider2:hover,
#slider3:checked ~ .slider3:hover,
#slider4:checked ~ .slider1:hover,
#slider5:checked ~ .slider2:hover,
#slider6:checked ~ .slider3:hover {
    animation-play-state: paused;
}

.content1 {
    width: 1280px;
    height: 900px;
    display: flex;
    position: relative;
}
.content1::after {
    width: 1280px;
    height: 3px;
    background-color: rgb(225, 225, 225);
    content: '';
    position: absolute;
    top: 120px;
}
.controll_menu {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_menu {
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_menu::before {
    margin-top: 250px;
    width: 600px;
    height: 500px;
    background-color: white;
    position: absolute;
    content: '';
    border-radius: 30px;
    left: -256px;
    z-index: 0;
    box-shadow: -1px 10px 20px gray;
}
.category li {
    list-style: none;
    width: 100%;
    float: left;
    margin: 10px 0 10px 0;
}
.category_btn {
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: block;
    border-radius: 30px;
    background-color: rgb(241, 241, 241);
}
.category_btn p {
    color: black;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 900;
}
.category > li:nth-child(1) > h1 {
    width: 200px;
    margin-left: 0;
    margin-bottom: 100px;
    font-size: 40px;
    font-family: none;
    font-weight: 900;
}
.category > li:nth-child(1) span {
    font-family: none;
    border-bottom: 5px solid orangered;
}
.cate1box,
.cate2box,
.cate3box,
.cate4box,
.cate5box {
    width: 1024px;
    height: 900px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    z-index: 2;
}
.category_realbox {
    width: 100%;
    height: 100%;
    display: flex;
}
.big_cate {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.obj_box1 {
    width: 500px;
    height: 500px;
    background-image: url(image/건강식품/1.PNG);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.sale_box {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px rgb(187, 187, 187);
    position: relative;
    
}
.sale_box > div {
    border-radius: 0 0 30px 30px;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale_box > div p {
    line-height: 70px;
    position: absolute;
    top: 0;
    font-family: none;
    font-weight: 900;
    font-size: 22px;
}
.sale_box > div::before {
    content: '75,000원';
    text-decoration: line-through;
    font-family: none;
    font-weight: 100;
    font-size: 20px;
    margin: 30px 10px 0 10px;
    color: gray;
}
.sale_box > div::after {
    margin: 30px 10px 0 10px;
    content: '65,000원';
    font-family: none;
    font-size: 30px;
    font-weight: 900;
    color: orangered;
}
#cate_img1 > div > div::before {
    content: '1,254,000원';
}
#cate_img1 > div > div::after {
    content: '1,128,000원';
}
#cate_img2 > div > div::before {
    content: '38,900원';
}
#cate_img2 > div > div::after {
    content: '28,900원';
}
#cate_img3 > div > div::before {
    content: '103,000원';
}
#cate_img3 > div > div::after {
    content: '93,000원';
}
#cate_img4 > div > div::before {
    content: '16,000원';
}
#cate_img4 > div > div::after {
    content: '14,000원';
}
.sale_box::after {
    position: absolute;
    right: 0;
    top: -20px;
    width: 120px;
    height: 40px;
    background-color: orangered;
    content: '세일';
    font-weight: 900;
    font-family: none;
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 40px;
}
.small_cate {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.obj_box2,
.obj_box3 {
    width: 240px;
    height: 240px;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 10px rgb(187, 187, 187);
}
.obj_box2 > div,
.obj_box3 > div {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.449);
    border-radius: 0 0 30px 30px;
}
.obj_box2 > div p,
.obj_box3 > div p {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.obj_box2 > div p:nth-child(1),
.obj_box3 > div p:nth-child(1) {
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: black;
    font-family: none;
    font-weight: 900;
}
.obj_box2 > div p:nth-child(2),
.obj_box3 > div p:nth-child(2) {
    font-family: none;
    font-weight: 900;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.obj_box2 {
    background-image: url(image/건강식품/2.PNG);
}
.obj_box3 {
    bottom: 280px;
    background-image: url(image/건강식품/3.PNG);
}
#cate_img1 {
    background-image: url(image/디지털/4.jpg);
}
#cate_img1-1 {
    background-image: url(image/디지털/1.PNG);
}
#cate_img1-2 {
    background-image: url(image/디지털/2.PNG);
}

#cate_img2 {
    background-image: url(image/팬시/4.PNG);
}
#cate_img2-1 {
    background-image: url(image/팬시/1.PNG);
}
#cate_img2-2 {
    background-image: url(image/팬시/2.PNG);
}

#cate_img3 {
    background-image: url(image/향수/4.PNG);
}
#cate_img3-1 {
    background-image: url(image/향수/1.PNG);
}
#cate_img3-2 {
    background-image: url(image/향수/2.PNG);
}

#cate_img4 {
    background-image: url(image/헤어케어/5.PNG);
}
#cate_img4-1 {
    background-image: url(image/헤어케어/1.PNG);
}
#cate_img4-2 {
    background-image: url(image/헤어케어/2.PNG);
}

#cate1:checked ~ .cate1box,
#cate2:checked ~ .cate2box,
#cate3:checked ~ .cate3box,
#cate4:checked ~ .cate4box,
#cate5:checked ~ .cate5box {
    display: block;
}
#cate1:checked + label,
#cate2:checked + label,
#cate3:checked + label,
#cate4:checked + label,
#cate5:checked + label {
    background-color: orangered;
}
#cate1:checked + label p,
#cate2:checked + label p,
#cate3:checked + label p,
#cate4:checked + label p,
#cate5:checked + label p {
    color: white;
}
.side_content {
    display: none;
}

.notice {
    width: 1280px;
    height: 900px;
    position: relative;
    margin-top: 100px;
}
.notice::before {
    width: 1280px;
    height: 3px;
    background-color: rgb(225, 225, 225);
    position: absolute;
    top: 0;
    content: '';
}
.notice_header {
    width: 100%;
    height: 25%;
    display: flex;
}
.notice_title {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.notice_title h4 {
    display: none;
}
.notice_title h1 {
    font-family: none;
    position: absolute;
    left: 0;
    bottom: 45px;
    font-size: 40px;
}
.notice_none {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.option {
    position: absolute;
    right: 0;
    bottom: 10px;
}
.option a {
    margin: 0 10px 0 10px;
    font-family: none;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(156, 156, 156);
}

.notice_body {
    width: 100%;
    height: 60%;
}
.notice_body table {
    width: 100%;
    border-top: 5px solid #bbbbbb;
}
.notice_body th:nth-child(1) {
    width: 20%;
}
.notice_body th:nth-child(2) {
    width: 60%;
}
.notice_body th:nth-child(3) {
    width: 20%;
}
.notice_body th {
    height: 70px;
    text-align: center;
    font-family: none;
}
.notice_body tr > td:nth-child(2) {
    text-align: left;
}
.notice_body td {
    text-align: center;
    height: calc(450px / 6);
    font-family: none;
}
.notice_body tr {
    position: relative;
}

.notice_body tr::after {
    width: 100%;
    height: 1px;
    background-color: rgb(134, 134, 134);
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
}
.notice_footer {
    width: 100%;
    height: 15%;
    display: flex;
}
.notice_footer a {
    color: black;
    text-decoration: none;
}
.notice_footer a:hover {
    color: orangered;
}
.notice_footer span {
    color: orangered;
}
.notice_footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back_box,
.next_box {
    width: 20%;
    height: 100%;
}
.notice_menu {
    width: 60%;
    height: 100%;
}
.notice_menu a,
.notice_menu span {
    margin: 0 20px 0 20px;
}


.shop_container {
    width: 100vw;
    height: 1000px;
    position: relative;
}
.in_shop {
    margin-top: 100px;
    width: 1280px;
    height: 100%;
}
.in_shop1 {
    width: 100%;
    height: calc(100% - 450px);
}
.in_shop1-1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.jubvox{
    height: 100px;
    text-align: left;
    position: absolute;
    bottom: -350px;
    font-size: 40px;
    left: 0;
    font-weight: 900;
    font-family: none;
}
.in_shop1-1::after {
    width: 1280px;
    height: 3px;
    background-color: rgb(225, 225, 225);
    position: absolute;
    top: 0;
    content: '';
}
.shop_text_box {
    width: 100%;
    position: relative;
}
.shop_text_box p {
    width: 100%;
    font-family: none;
    font-weight: 900;
    color: orangered;
}
.shop_text_box p,
.shop_text_box h1 {
    margin: 20px 0 20px 0;
}
.shop_text_box h1 {
    width: 100%;
    font-size: 45px;
    font-family: none;
    font-weight: 900;
}
.in_shop1-2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.in_shop1-2 > div {
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 10px black;
    display: flex;
    border-radius: 20px;
    cursor: pointer;
}
.in_shop1-2 > div:hover p {
    color: orangered;
}
.banner_img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner_img::after {
    width: 10px;
    height: 10px;
    background-color: orangered;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    content: '';
}
.banner_img img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.banner_text {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
}
.banner_text::after {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    content: '→';
    rotate: -45deg;
    font-size: 20px;
    border: 3px solid orangered;
    color: orangered;
    font-weight: 900;
}
.banner_text p {
    font-weight: 900;
    position: absolute;
    left: 0;
    font-size: 14px;
    color: black;
    transition: 0.5s;
}


.in_shop2 {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouse_up_ani {
    font-family: none;
    font-weight: 900;
    color: orangered;
    width: 250px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 37.5px;
    animation: 1s infinite ease-in-out mouseup;
}
@keyframes mouseup {
    0%,100% {
        bottom: 37.5px;
    }
    50% {
        bottom: 42px;
    }
}
.shop_bar {
    right: 0;
    position: absolute;
    width: 85vw;
    height: 200px;
    background-color: orangered;
}
.shop_bar_full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.shop_bar_full::after {
    position: absolute;
    left: -100px;
    width: 200px;
    height: 200px;
    background-color: orangered;
    border-radius: 50%;
    content: '';
    z-index: 0;
}
.shop_bar_full::before {
    right: 5%;
    font-family: fantasy;
    font-weight: 100;
    width: 30%;
    height: 100px;
    position: absolute;
    top: -100px;
    content: 'GIFTS:Mall';
    line-height: 100px;
    font-size: 100px;
    color: #ff4500;
}
.shop_next_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nextbox {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 100px;
    cursor: pointer;
}
.nextbox p,
.nextbox span {
    text-align: center;
    width: 100%;
    font-family: none;
    font-weight: 900;
}
.nextbox > p {
    color: white;
    font-size: 18px;
    height: 30%;
    line-height: 30px;
}
.nextbox > span {
    display: block;
    line-height: 70px;
    height: 70%;
    font-size: 25px;
    color: white;
}
.nextbox > div {
    opacity: 0;
    pointer-events: none;
    top: 0px;
    width: 200px;
    height: 200px;
    background-color: orangered;
    border-radius: 50% 50% 50% 0;
    position: absolute;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    rotate: -45deg;
}
.nextbox:hover div {
    top: -275px;
    opacity: 1;
    pointer-events: all;
}
.nextbox > div > p {
    rotate: 45deg;
    width: 150px;
    color: white;
}


footer {
    margin-top: 150px;
    width: 100vw;
    height: 500px;
    background-color: rgb(240, 240, 240);
}
.real_footer {
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer_menu {
    position: absolute;
    top: 50px;
    left: 0;
}
.footer_menu li {
    float: left;
    list-style: none;
    margin: 0 10px 0 10px;
}
.footer_menu a {
    text-decoration: none;
    color: #6d6d6d;
}

.real_footer::before {
    width: 100%;
    height: 3px;
    background-color: rgb(179, 179, 179);
    position: absolute;
    top: 100px;
    content: '';
}
.footer_logo {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 0;
}
.footer_logo img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.footer_logo img:hover {
    filter: grayscale(0%);
}
.work_text {
    text-align: left;
    color: #6d6d6d;
    position: absolute;
    left: 0;
    top: 200px;
}
.copyright {
    font-family: none;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 50px;
    height: 20px;
    line-height: 20px;
    color: #6d6d6d;
}
.dae1 {
    text-align: right;
    position: absolute;
    right: 0;
    top: 200px;
    color: #6d6d6d;
}
.dae1 a {
    color: #6d6d6d;
}
.sns {
    display: flex;
    right: 0;
    top: 25px;
    position: absolute;
}
.sns > div {
    cursor: pointer;
    filter:grayscale(100%);
    transition: 0.5s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sns > div:hover {
    filter:grayscale(0);
}
.sns > div:nth-child(1) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -2px -5px;
}
.sns > div:nth-child(2) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -62px -5px;
}
.sns > div:nth-child(3) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -121px -5px;
}
.sns > div:nth-child(4) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -180px -5px;
}
.sns > div:nth-child(5) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -240px -5px;
}
.max_480_shop {
    display: none;
}






@media screen and (max-width:480px) {
    .logo {
        width: 100%;
        position: relative;
    }
    .logo a {
        position: relative;
    }
    .logo label {
        opacity: 1;
        pointer-events: all;
        position: absolute;
        left:80px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .logo > label div {
        width: 100%;
        height: 1px;
        background-color: rgb(0, 0, 0);
    }
    #side1:checked ~ .sidemenu {
        width: 100vw;
    }
    nav {
        display: none;
    }
    .bu_menu {
        display: none;
    }
    .left,
    .left1,
    .right,
    .right1 {
        scale: 0.7;
    }
    .left,
    .left1 {
        left: 0;
    }
    .right,
    .right1 {
        right: 0;
    }
    .realbox1::after,
    .realbox2::after,
    .realbox3::after {
        font-size: 45px;
    }
    .realbox1::before,
    .realbox2::before,
    .realbox3::before {
        width: 300px;
        font-size: 15px;
    }
    .realbox1::after,
    .realbox2::after,
    .realbox3::after {
        top: 30%;
        scale: 1.2;
        text-shadow: 0 6px orangered;
    }
    .realbox1::before,
    .realbox2::before,
    .realbox3::before {
        bottom: 35%;
        scale: 1.2;
    }
    .content1 {
        display: none;
    }
    .side_content {
        margin-top: 100px;
        width: 480px;
        height: 800px;
        background-color: white;
        position: relative;
        display: block;
    }
    .side_content::before {
        width: 480px;
        height: 3px;
        position: absolute;
        top: -40px;
        left: 0;
        content: '';
        background-color: rgb(225, 225, 225);
    }
    .side_content_header {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .side_content_header > h4 {
        position: absolute;
        top: 0;
        left: 80px;
        font-size: 20px;
    }
    .side_content_menu li {
        float: left;
        list-style: none;
        margin: 0 5px 0 5px;
        font-size: 15px;
        font-weight: 900;
    }
    .side_content_body {
        width: 100%;
        height: 20%;
    }
    .side_con_box1,
    .side_con_box2,
    .side_con_box3,
    .side_con_box4,
    .side_con_box5 {
        width: 100%;
        height: 640px;
        position: absolute;
        left: 0;
        bottom: 0;
        display: none;
    }
    #side_con1:checked ~ .side_con_box1,
    #side_con2:checked ~ .side_con_box2,
    #side_con3:checked ~ .side_con_box3,
    #side_con4:checked ~ .side_con_box4,
    #side_con5:checked ~ .side_con_box5 {
        display: block;
    }
    #side_con1:checked + label,
    #side_con2:checked + label,
    #side_con3:checked + label,
    #side_con4:checked + label,
    #side_con5:checked + label {
        color: orangered;
    }

    .side_big_box {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .side_big_box > div {
        position: absolute;
        bottom: 20px;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        background-position: center;
        background-size: cover;
    }
    .side_small_box {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .side_small_box > div:nth-child(1),
    .side_small_box > div:nth-child(2) {
        width: 140px;
        height: 140px;
        border-radius: 30px;
        position: absolute;
        top: 0;
        background-position: center;
        background-size: cover;
    }
    .side_small_box > div:nth-child(1) {
        left: 90px;
    }
    .side_small_box > div:nth-child(2) {
        right: 90px;
    }
    .side_sale_box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .side_box1 {
        background-image: url(image/건강식품/1.PNG);
    }
    .side_box1-1 {
        background-image: url(image/건강식품/2.PNG);
    }
    .side_box1-2 {
        bottom: 280px;
        background-image: url(image/건강식품/3.PNG);
    }
    .side_box2 {
        background-image: url(image/디지털/4.jpg);
    }
    .side_box2-1 {
        background-image: url(image/디지털/1.PNG);
    }
    .side_box2-2 {
        background-image: url(image/디지털/2.PNG);
    }
    
    .side_box3 {
        background-image: url(image/팬시/4.PNG);
    }
    .side_box3-1 {
        background-image: url(image/팬시/1.PNG);
    }
    .side_box3-2 {
        background-image: url(image/팬시/2.PNG);
    }
    
    .side_box4 {
        background-image: url(image/향수/4.PNG);
    }
    .side_box4-1 {
        background-image: url(image/향수/1.PNG);
    }
    .side_box4-2 {
        background-image: url(image/향수/2.PNG);
    }
    
    .side_box5 {
        background-image: url(image/헤어케어/5.PNG);
    }
    .side_box5-1 {
        background-image: url(image/헤어케어/1.PNG);
    }
    .side_box5-2 {
        background-image: url(image/헤어케어/2.PNG);
    }



    .side_sale_box::after {
        width: 80px;
        height: 30px;
        background-color: orangered;
        content: '세일';
        font-weight: 100;
        text-align: center;
        line-height: 30px;
        border-radius: 30px;
        position: absolute;
        right: 0;
        top: -15px;
        color: white;
    }

    



    .in_shop {
        width: 480px;
    }
    .real_footer {
        width: 480px;
    }
    .shop_bar {
        width: 300px;
    }
    .shop_text_box p {
        text-align: center;
    }
    .shop_text_box h1 {
        font-size: 12px;
        text-align: center;
        width: 300px;
        margin: 0 0 0 80px;
    }
    .shop_container {
        height: 1200px;
    }
    .jubvox {
        display: none;
    }
    .shop_bar {
        display: none;
    }
    .mouse_up_ani {
        display: none;
    }
    .in_shop1-2 div {
        margin: 5px 0 5px 0;
    }
    .in_shop1-1 {
        height: 30%;
    }
    .in_shop1-2 {
        height: 70%;
    }
    .content1::after,
    .in_shop1-1::after {
        width: 480px;
    }

    .max_480_shop {
        width: 100%;
        height: 100%;
        display: block;
    }
    .m_4_header {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .m_4_header h4 {
        position: absolute;
        left: 80px;
    }
    .m_4_body {
        width: 300px;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }
    .m_4_body > div {
        width: 100px;
        height: 100px;
        background-color: orangered;
        border-radius: 30px;
        position: relative;
        font-size: 15px;
        font-weight: 900;
    }
    .m_4_body > div > p {
        width: 100%;
        height: 50%;
        text-align: center;
        line-height: 50px;
        color: white;
    } 
    .m_4_body > div > div {
        text-align: center;
        line-height: 50px;
        color: white;
        width: 100%;
        height: 50%;
    }
    .m_4_body > div::after {
        display: block;
        width: 100px;
        height: 50px;
        content: '';
        text-align: center;
        line-height: 50px;
        font-size: 50px;
    }
    .m_4_body > div:nth-child(1)::after,
    .m_4_body > div:nth-child(2)::after {
        content: '→';
    }
    .m_4_body > div:nth-child(3)::after {
        content: '↓';
    }
    .m_4_body > div:nth-child(6)::after,
    .m_4_body > div:nth-child(5)::after,
    .m_4_body > div:nth-child(4)::after   {
        content: '←';
    }
    .mouse_ani {
        text-align: center;
        width: 300px;
        height: 40px;
        color: orangered;
        position: absolute;
        top: 0;
        animation: mou 1s infinite ease-in-out;
    }
    @keyframes mou {
        0%,100% {
            top: 0;
        }
        50% {
            top: 5px;
        }
    }
    .m_4_body > section {
        overflow: hidden;
        width: 300px;
        height: 0;
        background-color: orangered;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .m_4_body > div:nth-child(1):hover ~ .m_4_long_text1,
    .m_4_body > div:nth-child(2):hover ~ .m_4_long_text2,
    .m_4_body > div:nth-child(3):hover ~ .m_4_long_text3,
    .m_4_body > div:nth-child(4):hover ~ .m_4_long_text6,
    .m_4_body > div:nth-child(5):hover ~ .m_4_long_text5,
    .m_4_body > div:nth-child(6):hover ~ .m_4_long_text4 {
        height: 200px;
    }
    .m_4_body > section p {
        width: 250px;
        color: white;
    }
    .work_text,
    .dae1 {
        font-size: 8px;
        line-height: 10px;
        top:250px;
        text-align: center;
        width: 300px;
    }
    .work_text {
        margin: 0 0 0 80px;
        top: 200px;
    }
    .dae1 {
        margin: 0 80px 0 0;
        top: 300px;
    }
    .footer_menu li {
        margin: 0 5px 0 5px;
    }
    .footer_menu {
        margin: 0 0 0 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    .footer_menu a {
        font-size: 10px;
    }
    .sns {
        width: 300px;
        position: absolute;
        margin: 0 80px 0 0;
        top: 5px;
        scale: 0.7;
    }
    .footer_logo {
        margin: 0 0 0 130px;
    }
    .copyright {
        width: 300px;
        font-size: 12px;
    }
    .notice {
        width: 300px;
    }
    .notice::before {
        width: 480px;
        left: -90px;
    }
    .notice_title h1 {
        display: none;
    }
    .notice_title h4 {
        display: block;
        font-size: 20px;
    }
    .notice_none {
        width: 70%;
    }
    .notice_title {
        width: 30%;
    }
    .option {
        width: 100%;
    }
    .option a {
        margin: 0 5px 0 5px;
        font-size: 15px;
    }
    .notice_menu a,
    .notice_menu span {
        margin: 0 10px 0 10px;
    }
    td {
        font-size: 12px;
    }
}