* {
    margin: 0 auto;
    padding: 0;
    font-weight: 900;
}
#wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}
form {
    width: 500px;
    height: 600px;
    background-color:white;
}
form > div:nth-child(1) {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form > div {
    position: relative;
}
form > div:nth-child(2),
form > div:nth-child(3),
form > div:nth-child(4),
form > div:nth-child(5) {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
form > div:nth-child(2) input {
    width: 50%;
    height:45px;
    position: absolute;
    left: 15%;
}
form > div:nth-child(2) a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    line-height: 45px;
    text-align: center;
    position: absolute;
    right: 15%;
    width: 15%;
    height: 45px;
    background-color: gray;
}
form > div > input[type="password"],
form > div > input[type="email"] {
    width: 70%;
    height: 45px;
}
form > div:nth-child(1) h1 {
    font-size: 45px;
    transform: skew(-10deg);
}
form > div:nth-child(6) {
    width: 100%;
    height: calc(100% - 480px);
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="submit"] {
    width: 70%;
    height: 45px;
    border: none;
    background-color: orangered;
    color: white;
    position: absolute;
    top: 20%;
    cursor: pointer;
}
input[type="button"] {
    position: absolute;
    bottom: 15%;
    border: none;
    background-color: white;
    cursor: pointer;
}

form > div p {
    top: 0;
    left: 15%;
    position: absolute;
}
form > div span {
    color: red;
    font-size: 10px;
}