* {
    margin: 0 auto;
    padding: 0;
}
input[type="radio"] {
    display: none;
}
body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
#wrap {
    width: 100vw;
    position: relative;
}

.login_container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    backdrop-filter: blur(10px);
    display: none;
}
#loginbox:checked ~ .login_container {
    display: block;
}
.real_login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box {
    width: 500px;
    height: 420px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 1px 10px rgb(181, 181, 181);
}
.login_header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login_header h1 {
    font-size: 35px;
}
.login_header label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
    top: 20px;
}
.login_header label::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: orangered;
    position: absolute;
    rotate: 45deg;
    transition: 0.5s;
}
.login_header label::before {
    content: '';
    transition: 0.5s;
    width: 2px;
    height: 30px;
    background-color: orangered;
    position: absolute;
    rotate: -45deg;
}
.login_body {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.login_body div {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_body div:nth-child(1) {
    top: 20px;
}
.login_body div:nth-child(2) {
    top: 110px;
}
.login_body label {
    position: absolute;
    left: 74px;
    top: 0;
    font-weight: 900;
}
.login_body input[type="text"],
.login_body input[type="password"] {
    font-size:15px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 50px;
    border: 2px solid orangered;
    border-radius: 10px;   
}
.login_body input[type="submit"] {
    border: none;
    border-radius: 10px;
    width: 70%;
    height: 60px;
    background-color: orangered;
    color: white;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}

#user:checked ~ .new_user {
    display: block;
}

.new_user {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 998;
}

.real_userbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newuser_text {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 1px 10px rgb(181, 181, 181);
}
.newuser_text_header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.newuser_text_header h1 {
    font-size: 35px;
}
.newuser_text_header label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
    top: 20px;
}
.newuser_text_header label::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: orangered;
    position: absolute;
    rotate: 45deg;
    transition: 0.5s;
}
.newuser_text_header label::before {
    content: '';
    transition: 0.5s;
    width: 2px;
    height: 30px;
    background-color: orangered;
    position: absolute;
    rotate: -45deg;
}
.newuser_text_header label:hover::after,
.newuser_text_header label:hover::before {
    background-color: #ffa685;
}
.newuser_text_body {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.newuser_text_body div {
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newuser_text_body div label {
    position: absolute;
    left: 74px;
    top: 0;
    font-weight: 900;
}
.newuser_text_body div:nth-child(1) {
    top: 20px;
}
.newuser_text_body div:nth-child(2) {
    top: 110px;
}
.newuser_text_body div:nth-child(3) {
    top: 200px;
}
.newuser_text_body div:nth-child(4) {
    top: 290px;
}
.newuser_text_body div input[type="text"],
.newuser_text_body div input[type="email"],
.newuser_text_body div input[type="password"] {
    font-size:15px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 50px;
    border: 2px solid orangered;
    border-radius: 10px;
}
.newuser_text_body div:nth-child(5) {
    position: absolute;
    bottom: 30px;
    width: 70%;
    height: 60px;
}
.newuser_text_body div:nth-child(5) input {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: orangered;
    color: white;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}
header {
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    position: sticky;
    background-color: white;
    border-bottom: 10px solid orangered;
    z-index: 3;
}
.real_header {
    width: 1280px;
    height: 100%;
    display: flex;
}
.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo label {
    opacity: 0;
    pointer-events: none;
}
.logo a {
    position: absolute;
    left: 0;
}
.logo img {
    width: 200px;
    height: 50px;
    object-fit: cover;
    
}
nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.bu_menu {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    float: left;
    list-style: none;
}
.menu > li{
    margin: 0 30px 0 30px;
}
.menu a {
    line-height: 70px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.menu > li > a {
    font-size: 18px;
}
.submenu {
    transition: 0.5s;
    overflow: hidden;
    top: 70px;
    width: 100vw;
    height: 0;
    background-color: rgb(240, 240, 240);
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submenu a {
    color: rgb(0, 0, 0);
}
.submenu > li > a:hover {
    color: orangered;
}
.menu > li:nth-child(2):hover .submenu {
    height: 200px;
    border-top: 10px solid orangered;
}
.menu > li:hover > a {
    color: #ff4500;
}
.buumenu > li,
.buumenu > label{
    list-style: none;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    color: white;
}
.buumenu > li:nth-child(1) {
    margin: 0 8px 0 40px;
}
.buumenu > li:nth-child(3) label {
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    width: 90px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 30px;
    color: orangered;
    margin: 15px 0 15px 0;
    transition: 0.5s;
}
.buumenu > li:nth-child(3) label:hover {
    color: black;
    border: 1px solid black;
}
.buumenu > li:nth-child(4) label {
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    width: 90px;
    height: 40px;
    background-color: orangered;
    color: white;
    margin: 15px 0 15px 0;
}
.buumenu > li:nth-child(4) label:hover {
    background-color: rgb(255, 158, 123);
    color: rgb(255, 255, 255);
}
.buumenu a,
.buumenu label {
    font-weight: 900;
    font-size: 14px;
    display: block;
    line-height: 70px;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}
.buumenu a:hover {
    color: #ff4500;
}

.contents {
    position: relative;
    width: 100vw;
    height: 350px;
    background-image: url(image/vis/22.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents::after {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.555);
    content: '';
    z-index: 0;
}
.contents_textbox {
    text-align: center;
    position: relative;
    z-index: 1;
}
.contents_textbox span {
    font-family: fantasy;
    font-weight: 100;
    color: orangered;
}
.contents_textbox h1 {
    color: white;
    font-size: 45px;
}
.contents_textbox p {
    color: white;
    font-weight: 900;
}
.contents_textbox p,
.contents_textbox h1 {
    margin: 10px 0 10px 0;
}

.banner_container {
    width: 1280px;
    height: 2000px;
    margin-top: 100px;
    box-shadow: -1px 0px 10px rgb(190, 190, 190);
    border-radius: 30px;
    overflow: hidden;
}
.banner_container > div {
    width: 100%;
    height: 500px;
    display: flex;
}
.banner_container > div > div {
    width: 50%;
    height: 100%;
}
.banner_background {
    background-position: center;
    background-size: cover;
}
.banner_container > div:nth-child(1) > .banner_background {
    background-image: url(image/vis/01.PNG);
}
.banner_container > div:nth-child(2) > .banner_background {
    background-image: url(image/vis/05.JPG);
}
.banner_container > div:nth-child(3) > .banner_background {
    background-image: url(image/vis/25.JPG);
}
.banner_container > div:nth-child(4) > .banner_background {
    background-image: url(image/vis/04.JPG);
}
.banner_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.ba_text {
    width: 400px;
}
.banner_text p,
.banner_text a {
    font-weight: 900;
    margin: 30px 0 30px 0;
}
.banner_text p {
    font-size: 18px;
    color: gray;
}
.banner_text a {
    text-decoration: none;
    color: orangered;
}


.motto_container {
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: -1px 0px 10px #bebebe;;
    width: 1280px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto_box {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    margin: 0 5px 0 5px;
    width: 240px;
    height: 100%;
    background-size: 1200px 700px;
    background-position: var(--backposition) 50%;
    cursor: pointer;
}
.motto::after {
    width: 30px;
    height: 30px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    bottom: 37px;
    right: 30px;
    content: '↑';
    text-align: center;
    line-height: 30px;
    font-weight: 900;
    color: white;
    rotate: 45deg;
    opacity: 0;
    transition: 0.5s;
}
.motto:hover::after {
    opacity: 1;
}
.motto_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    height: 44px;
    line-height: 44px;
}
.motto:hover .motto_text {
    opacity: 1 !important;
}
.motto:nth-child(1):hover ~ .motto:nth-child(5)::before {
    content: '고객신뢰를 바탕으로 행복한 사회를 추구하는 글로벌 기업';
}
.motto:nth-child(2):hover ~ .motto:nth-child(5)::before {
    content: '기업의 가치 혁신의 출발은 나눔을 시작으로 고객 가치를 탐험한다.';
}
.motto:nth-child(3):hover ~ .motto:nth-child(5)::before {
    content: '세계 기후변화 대응을 위해 100% 재생에너지로 생산된 제품만 선별한다.';
}
.motto:nth-child(4):hover ~ .motto:nth-child(5)::before {
    content: '다른 생각 다른 미래, 플랫폼 기반의 글로벌 미래 혁신을 선도한다.';
}
.motto:nth-child(5):hover::before {
    content: '글로벌 수준의 개인정보보호 및 보안 체계를 유지한다.';
}
.motto:nth-child(5)::before {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 30px;
    content: '';
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.motto_box > .motto:nth-child(1) {
    border-radius: 30px 0 0 30px;
    background-image: url(image/motto/신뢰혁신.jpg);
}
.motto_box > .motto:nth-child(2) {
    background-image: url(image/motto/나눔혁신.jpg);
}
.motto_box > .motto:nth-child(3) {
    background-image: url(image/motto/환경혁신.jpg);
}
.motto_box > .motto:nth-child(4) {
    background-image: url(image/motto/미래혁신.jpg);
}
.motto_box > .motto:nth-child(5) {
    border-radius: 0 30px 30px 0;
    background-image: url(image/motto/보안혁신.jpg);
}



footer {
    margin-top: 200px;
    width: 100vw;
    height: 500px;
    background-color: rgb(240, 240, 240);
}
.real_footer {
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer_menu {
    position: absolute;
    top: 50px;
    left: 0;
}
.footer_menu li {
    float: left;
    list-style: none;
    margin: 0 10px 0 10px;
}
.footer_menu a {
    text-decoration: none;
    color: #6d6d6d;
}

.real_footer::before {
    width: 100%;
    height: 3px;
    background-color: rgb(179, 179, 179);
    position: absolute;
    top: 100px;
    content: '';
}
.footer_logo {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 0;
}
.footer_logo img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.footer_logo img:hover {
    filter: grayscale(0%);
}
.work_text {
    text-align: left;
    color: #6d6d6d;
    position: absolute;
    left: 0;
    top: 200px;
}
.copyright {
    font-family: none;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 50px;
    height: 20px;
    line-height: 20px;
    color: #6d6d6d;
}
.dae1 {
    text-align: right;
    position: absolute;
    right: 0;
    top: 200px;
    color: #6d6d6d;
}
.dae1 a {
    color: #6d6d6d;
}
.sns {
    display: flex;
    right: 0;
    top: 25px;
    position: absolute;
}
.sns > div {
    cursor: pointer;
    filter:grayscale(100%);
    transition: 0.5s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sns > div:hover {
    filter:grayscale(0);
}
.sns > div:nth-child(1) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -2px -5px;
}
.sns > div:nth-child(2) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -62px -5px;
}
.sns > div:nth-child(3) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -121px -5px;
}
.sns > div:nth-child(4) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -180px -5px;
}
.sns > div:nth-child(5) {
    background-image: url(image/vis/sns_icon.jpg);
    background-size: 290px 1600px;
    background-position: -240px -5px;
}